<section class="my-4 container">
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
        <div class="form-group col-6">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email' required  [(ngModel)]="userData.email" #email='ngModel' email>
          
        </div>
        <div
            class="alert alert-danger" 
            *ngIf="email.invalid && (email.touched||loginForm.submitted||email.dirty)">
                <p *ngIf="email.errors?.required">required</p>
                <p *ngIf="email.errors?.email">email</p>
            </div>
        <div class="form-group col-6">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" #password="ngModel" required  [(ngModel)]="userData.password">  
        </div>
        <div
            class="alert alert-danger" 
            *ngIf="password.invalid && (password.touched||loginForm.submitted||password.dirty)">
                <p *ngIf="email.errors?.required">required</p>
              
            </div>
        <button type="submit" class="btn btn-primary mt-3">login</button>
      </form>
    

</section>
