
<app-navbar></app-navbar>
<router-outlet>
    <!-- <carousel>
        <slide>
          <img src="assets/images/" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/nature/2.jpg" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
      </carousel> -->
</router-outlet>
<app-footer></app-footer>