

<section class="my-4 container">
    <!-- <div class="alert alert-primary">
        {{registerForm.value | json}}<br>
        is Valid {{registerForm.valid}}<br>
        is inValid {{registerForm.invalid}}<br>
        submitted: {{registerForm.submitted}}<br>
        touched: {{registerForm.touched}}
    </div> -->
    <form #addProductForm="ngForm" (ngSubmit)="onedit(addProductForm)">
        <div class="mb-3">
            <label>name</label>
            <input class="form-control" value="{{myData.name}}" name="name" 
            required minlength="5" maxlength="15" 
            [(ngModel)]="myData.name" #name="ngModel">
            <div 
            class="alert alert-danger" 
            *ngIf="name.invalid && (name.touched||addProductForm.submitted||name.dirty)">
                <p *ngIf="name.errors?.required">required</p>
                <p *ngIf="name.errors?.minlength">min len</p>
                <p *ngIf="name.errors?.maxlength">max len</p>
            </div>
        </div>
        <div class="mb-3">
            <label>description</label>
            <input class="form-control"  name="description"  [(ngModel)]="myData.description" >
           
        </div>
        <div class="mb-3">
            <label>category</label>
            <input class="form-control" type="text" name="category" ngModel [(ngModel)]="myData.category">
        </div>
        <div class="mb-3">
            <label>price</label>
            <input class="form-control"  type="number" name="price" ngModel [(ngModel)]="myData.price" required #price='ngModel'>
        </div>
        <div 
            class="alert alert-danger" 
            *ngIf="price.invalid && (price.touched||addProductForm.submitted||price.dirty)">
                <p *ngIf="name.errors?.required">required</p>
                
            </div>
        <div class="mb-3">
            <button class="btn btn-primary" >edit product</button>
            <!-- [disabled]="registerForm.invalid" -->
        </div>
        
    </form>
</section>